<!DOCTYPE html>
<html lang="en-us" class="" itemscope itemtype="http://schema.org/WebSite" prefix="og: http://ogp.me/ns#">
  <head>
    <!-meta http-equiv="refresh" content="0;URL=https://github.com/denzuko?tab=repositories"-->
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="theme-color" content="#334457" />
    <meta name="background-color" content="#334457" />
    <meta name="Author" value="'Dwight A Spencer (@denzuko) <contact@dwightaspencer.com>'">    
    <meta property="og:title" content="Dwight Spencer Homepage" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dwightaspencer.com/" />
    <meta property="og:image" content="http://api.browsershots.org/png/original/ba/ba7491a92c2a79659d0004c8e0be4a97.png" />
    <meta name="twitter:widgets:link-color" content="#334457"> 
    <meta name='mobile-web-app-capable' content='yes'>
    
    <link rel="icon" sizes="192x192" href="https://talk.dallasmakerspace.org/user_avatar/talk.dallasmakerspace.org/denzuko/192/3082_1.png" type="image/png">
    <link rel="stylesheet" href="https://unpkg.com/material-components-web/dist/material-components-web.css">
    <link rel="stylesheet" href="https://unpkg.com/roboto-npm-webfont/full/style.css">
    <link rel="stylesheet" href="https://unpkg.com/material-icons/css/material-icons.min.css">
    <script async src="https://cdn.rawgit.com/GoogleChrome/pwacompat/v1.0.3/pwacompat.min.js"></script>
    <script nonce="">addEventListener('error',__e=function f(e){f.q=f.q||[];f.q.push(e)}) </script>
    <script src="https://unpkg.com/octokat/dist/node/request.js"></script>
    <script src="https://unpkg.com/github-client/github.js"></script>
    <script src="https://unpkg.com/lodash/lodash.min.js"></script>
    <script src="https://unpkg.com/material-components-web/dist/material-components-web.min.js"></script>

  </head>
  <body class="mdc-typography">
    <script type="text/html" id='card-data'>
      <% _.each(items,function(item,key,list){ %>   
      <div class="mdc-card demo-card" id="item.reponame">
        <section class="mdc-card__media demo-card__16-9-media"></section>
          <section class="mdc-card__primary">
            <h1 class="mdc-card__title mdc-card__title--large">item.reponame</h1>
            <h2 class="mdc-card__subtitle">item.reponame</h2>
          </section>
          <section class="mdc-card__supporting-text">
              Description here...
          </section>
          <section class="mdc-card__actions">
            <button class="mdc-button mdc-button--compact mdc-card__action">Download</button>
            <button class="mdc-button mdc-button--compact mdc-card__action">Submit a bug</button>
          </section>
      </div>
      <% }) %>
    </script>
    <header class="mdc-toolbar mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <span class="catalog-back">
            <a href="/" class="mdc-toolbar__menu-icon"><i class="material-icons"></i></a>
          </span>
          <span class="mdc-toolbar__title catalog-title">Releases</span>
        </section>
      </div>
    </header>
    <main>
      <section class="hero" id="repos">
      </section>
    </main>
    <footer>
      <script src="https://unpkg.com/material-components-web/dist/material-components-web.js"></script>
      <script>
        const octo = new GitHub();
        
        octo.getUser('denzuko').getRepos()
            .done((repos) => { $("repos").html(_.template( cardTemplate,{repos:items} )); })
            .fail((err) => console.log(err));
        
        mdc.autoInit();
      </script>
    </footer>
  </body>
</html>
