<!DOCTYPE html>
<html lang="en-us" class="" itemscope itemtype="http://schema.org/WebSite" prefix="og: http://ogp.me/ns#">
  <head>
    <!-meta http-equiv="refresh" content="0;URL=https://github.com/denzuko?tab=repositories"-->
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="theme-color" content="#334457" />
    <meta name="background-color" content="#334457" />
    <meta name="Author" value="'Dwight A Spencer (@denzuko) <contact@dwightaspencer.com>'">    
    <meta property="og:title" content="Dwight Spencer Homepage" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dwightaspencer.com/" />
    <meta property="og:image" content="http://api.browsershots.org/png/original/ba/ba7491a92c2a79659d0004c8e0be4a97.png" />
    <meta name="twitter:widgets:link-color" content="#334457"> 
    <meta name='mobile-web-app-capable' content='yes'>
    
    <link rel="manifest" href="/manifest.json" />
    
    <link rel="icon"  lazyload="1" sizes="192x192" href="https://talk.dallasmakerspace.org/user_avatar/talk.dallasmakerspace.org/denzuko/192/3082_1.png" type="image/png">
    <link rel="stylesheet"  lazyload="1" href="https://unpkg.com/material-components-web/dist/material-components-web.css">
    <link rel="stylesheet"  lazyload="1" href="https://unpkg.com/roboto-npm-webfont/full/style.css">
    <link rel="stylesheet"  lazyload="1" href="https://unpkg.com/material-icons/css/material-icons.min.css">
    <link rel="stylesheet" lazyload="1" href="https://unpkg.com/material-design-icons/iconfont/material-icons.css">
    <script async src="https://unpkg.com/pwacompat/pwacompat.min.js"></script>
    <script nonce="">addEventListener('error',__e=function f(e){f.q=f.q||[];f.q.push(e)})</script>
    <script src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
    <script src="https://unpkg.com/underscore/underscore-min.js"></script>
    <script src="https://unpkg.com/github-client/github.js"></script>
    
  </head>
  <body class="mdc-typography">
    <script type="text/html" id='card-data'>
      <% _.each(repos, function (item,key,list) { %>   
      <div class="mdc-card demo-card" id="item.reponame">
        <section class="mdc-card__media demo-card__16-9-media"></section>
          <section class="mdc-card__primary">
            <h1 class="mdc-card__title mdc-card__title--large"><%= item.name %></h1>
            <h2 class="mdc-card__subtitle"><%= item.description %></h2>
          </section>
          <section class="mdc-card__supporting-text">
              Description here...
          </section>
          <section class="mdc-card__actions">
            <a href="<%= item.html_url %>" class="material-icons mdc-card__action" aria-label="Download" alt="Download">Download</a>
            <a href="<%= item.clone_url %>" class="material-icons mdc-card__action" aria-label="Clone" alt="Clone">Clone</a>
            <% if(item.has_issues) { %><a href="<%= item.html_url %>/issues/new" class="material-icons mdc-card__action" aria-label="Bug-report" alt="Submit a bug report">Submit a bug report</a><% } %>
          </section>
      </div>
      <% }) %>
    </script>
    
    <header class="mdc-toolbar mdc-toolbar--fixed mdc-toolbar--waterfall mdc-toolbar--flexible mdc-toolbar--flexible-default-behavior">
      <div class="mdc-toolbar__row" style="height: 94.0001px;">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <a href="#" class="material-icons mdc-toolbar__menu-icon">menu</a>
          <span class="mdc-toolbar__title" style="font-size: 1.38672rem;">Title</span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" role="toolbar">
          
          <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Print this page" alt="Print this page">print</a>
          <a href="#" class="material-icons mdc-toolbar__icon" aria-label="Bookmark this page" alt="Bookmark this page">bookmark</a>
        </section>
      </div>
    </header>
    
    <header class="mdc-toolbar mdc-toolbar--fixed">
      <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
          <span class="catalog-back">
            <a href="#" class="material-icons mdc-toolbar__menu-icon">menu</a>
          </span>
          <span class="mdc-toolbar__title catalog-title">Releases</span>
        </section>
      </div>
    </header>
    <main>
      <div class="mdc-toolbar-fixed-adjust" style="margin-top: 256px;">
        <p class="demo-paragraph">
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
        </p>
        <p class="demo-paragraph">
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
        </p>
        <p class="demo-paragraph">
          Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est.
        </p>
      </div>
      <section class="hero" id="repos">
      </section>
    </main>
    <footer>
      <script src="https://unpkg.com/material-components-web/dist/material-components-web.js"></script>
      <script nonce="">                
          const templates = { 'cards': $('#card-data').html },
                octo      = new Github();
          
          octo.getUser('denzuko')
              .getRepos()
              .done((repos) => { 
                console.log(repos);
                $("repos").after(templates["cards"], {repos});})
              .fail((err) => console.log(err));
        
          mdc.autoInit();

          let pollId = setInterval(() => {
            let pos = getComputedStyle($('.mdc-toolbar')).position;
            
            if (pos === 'fixed' || pos === 'relative') {
              let ratioSpan = $("#ratio"),
                  toolbar   = mdc.toolbar.MDCToolbar.attachTo($('.mdc-toolbar'));
              
              toolbar.listen('MDCToolbar:change', (evt) => {
                ratioSpan.innerHTML = evt.detail.flexibleExpansionRatio.toFixed(2);
              });
              
              toolbar.fixedAdjustElement = document.querySelector('.mdc-toolbar-fixed-adjust');
              
              clearInterval(pollId);
          }}, 250);
      </script>
      <span id="ratio"></span>
    </footer>
  </body>
</html>
