<!DOCTYPE html>
<html  lang="en-us" class="" itemscope itemtype="http://schema.org/WebSite" prefix="og: http://ogp.me/ns#">
  <head>
    <link href="http://gmpg.org/xfn/11" rel="profile">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="manifest" href="manifest.json" />
    <link type="text/css" rel="stylesheet" href="style.css">
    <meta name="theme-color" content="#334457" />
    <meta name="background-color" content="#334457" />
    <meta name="Author" value="'Dwight A Spencer (@denzuko) <contact@dwightaspencer.com>'">    
    <meta property="og:title" content="Dwight Spencer Homepage" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://dwightaspencer.com/" />
    <meta property="og:image" content="http://api.browsershots.org/png/original/ba/ba7491a92c2a79659d0004c8e0be4a97.png" />
    <meta name="twitter:widgets:link-color" content="#334457"> 
    <meta name='mobile-web-app-capable' content='yes'>
    <!-- RSS -->
    <link href="/feed.xml" rel="alternate" type="application/atom+xml" />
    <link rel="alternate" type="application/json" href="/feed.json">
    <link rel="search" type="application/opensearchdescription+xml" title="Pony Foo" href="/opensearch.xml">
    <link rel="canonical" href="https://dwightaspencer.com/">
    <meta name="keywords" content="devops lead,cloud engineer,solutions architect">
    <script async src="https://cdn.rawgit.com/GoogleChrome/pwacompat/v1.0.3/pwacompat.min.js"></script>
    <link rel="icon" sizes="192x192" href="https://talk.dallasmakerspace.org/user_avatar/talk.dallasmakerspace.org/denzuko/192/3082_1.png" type="image/png">
    <script nonce="">addEventListener('error',__e=function f(e){f.q=f.q||[];f.q.push(e)}) </script>
  </head>
  <body>
    <header  itemscope='' itemtype='http://schema.org/WPHeader'>
      <h1 itemprop="name" itemtype='http://schema.org/Person' rel='self'>Dwight Anthony Spencer</h1>
    </header>
    <nav itemscope='' itemtype='http://schema.org/SiteNavigationElement'>
      <ol itemscope itemtype="http://schema.org/BreadcrumbList">
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/Training"><span itemprop="name">Training</span></a>
          <meta itemprop="position" content="1">
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/Training/Linux"><span itemprop="name">Linux</span></a>
          <meta itemprop="position" content="2">
        </li>
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a itemprop="item" href="/Training/Linux/Shell-Scripting/"><span itemprop="name">Shell Scripting</span></a>
          <meta itemprop="position" content="3">
        </li>
      </ol>
    </nav>
    <hr/>
    <div class="page-content"><div class="wrapper">
      <div id="root"></div>

      {{ content }}
    </div></div>
    <blockquote>
      <p><a href="&#109;a&#105;&#108;&#116;&#111;:&#100;&#x73;&#112;&#101;n&#99;&#101;r&#64;c&#111;&#109;&#112;&#x75;&#x74;&#101;&#107;&#105;&#x6E;d&#x75;&#115;&#116;&#x72;&#x69;&#x65;&#x73;&#x2E;&#99;&#111;&#x6D;">&#100;&#x73;&#112;&#101;n&#99;&#101;r&#64;c&#111;&#109;&#112;&#x75;&#x74;&#101;&#107;&#105;&#x6E;d&#x75;&#115;&#116;&#x72;&#x69;&#x65;&#x73;&#x2E;&#99;&#111;&#x6D;</a> - +01 512 920 8169 - 3800 Pebble Creek Ct., Plano, TX, 75023, USA</p>
    </blockquote>
    <footer itemscope='' itemtype='http://schema.org/WPFooter'>
      <p class="Copyright">&copy; 2017, Dwight A. Spencer. All rights reserved.</p>
      <script type="application/javascript">
        /* global navigator */
        if ('serviceWorker' in navigator) {
          console.log("Will the service worker register?");
          navigator.serviceWorker.register('https://dwightaspencer.com/sw.js')
            .then(function(reg){
              console.log("Yes, it did.");
            }).catch(function(err) {
              console.log("No it didn't. This happened: ", err);
          });
        }
      </script>
    </footer>
    <noscript>
      <img src="http://www.lifelearn.com/wp-content/uploads/2015/07/oops..jpg" alt="Can I haz oops?!"/>
      <h1>You don’t have javascript enabled.</h1>
      <p>Please enable it to get the full experience.</p>
    </noscript>
  </body>
</html>